.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    padding: 10vh;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

h4 {
    color: #d33f8d;
    text-align: center;
    padding: 10px;

}
.container-modal {
    position: relative;
    background: white;
    width: 40%;
    height: 25%;
    border-radius: 2px;
}

.show-true {
    display: block;
}

.show-false {
    display: none;
}