* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    height: 100%;
    background-image: linear-gradient(#de2fdb, #9315ed);
    background-size: cover;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}