.container3 {
    width: 800px;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin: 10vh;
    

}



.voltar {
    width: 100px;
    height: 8vh;
    background: #d33f8d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 10px;
}


.dados-detalhes {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: flex-start;

}

p {
    color: #d33f8d;
}

.divisao-detalhes-textarea {
    display: flex;
    align-items: baseline;
    margin-left: 100px;
}

.textarea-descricao {
    -webkit-appearance: none;
    overflow-y: scroll;
    resize: none;
    color: #738094;
    border: none;
   width: 400px;
   height: 60px;
}

button {
    width: 70px;
    height: 6vh;
    background: #d33f8d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    
}

.input-detalhes {
    color: #738094;
    border: none;
    
}


.botoes { 
    display: flex;
    justify-content: center;
}

.botoes button{
    margin: 10px;
}

.botao-comentario {
    margin: 7px;
    width: 79px;
    height: 6vh;
}

[disabled] {
        background: white;
}



