.container3 {
    width: 800px;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin: 10vh;
    

}


.link {
    margin-right: 30%;
}


.dados-detalhes {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: flex-start;

}

p {
    color: #d33f8d;
}



button {
    width: 70px;
    height: 6vh;
    background: #d33f8d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    
}

.input-detalhes {
    color: #738094;
    border: none;
    
}

.div-dados {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.botoes { 
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.botoes button{
    margin: 10px;
}

.botao-comentario {
    margin: 7px;
    width: 79px;
    height: 6vh;
}

[disabled] {
        background: white;
}

.icon-voltar {
    color: #d33f8d;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 25%;
    
}

.header-detalhes {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    
}






